/log
/javaCourse/Practice1/JavaApplication1/nbproject/private/
/javaCourse/Practice1/JavaApplication1/build/
/javaCourse/Practice1/JavaApplication2/nbproject/private/
/javaCourse/Practice1/JavaApplication3/nbproject/private/
/javaCourse/Practice1/JavaApplication3/build/
/javaCourse/Practice1/JavaApplication4/nbproject/private/
/javaCourse/Practice1/JavaApplication4/build/
/javaCourse/Practice1/JavaApplication7/nbproject/private/
/javaCourse/Practice1/JavaApplication7/build/
/javaCourse/Practice1/JavaApplication2/build/
/javaCourse/Practice1/JavaApplication2_1/nbproject/private/
/javaCourse/Practice1/JavaApplication2_1/build/
/javaCourse/Practice1/JavaApplication2_2/nbproject/private/
/javaCourse/Practice1/JavaApplication2_2/build/
/javaCourse/Practice1/JavaApplication2_3/nbproject/private/
/javaCourse/Practice1/JavaApplication2_3/build/
/javaCourse/Practice1/JavaApplication2_4/nbproject/private/
/javaCourse/Practice1/JavaApplication2_4/build/
/javaCourse/Practice1/JavaApplication2_5/nbproject/private/
/javaCourse/Practice1/JavaApplication2_5/build/
/javaCourse/Practice1/JavaApplication2_5/dist/
/javaCourse/Practice1/classwork1/nbproject/private/
/javaCourse/Practice1/classwork1/build/
/javaCourse/Practice1/ClientSocket/nbproject/private/
/javaCourse/Practice1/ClientSocket/build/
/javaCourse/Practice1/JavaApplication2_6/nbproject/private/
/javaCourse/Practice1/JavaApplication2_6/build/
/javaCourse/Practice1/JavaApplication2_7/nbproject/private/
/javaCourse/Practice1/JavaApplication2_7/build/
/javaCourse/Practice1/ProgressBarTest/nbproject/private/
/javaCourse/Practice1/ProgressBarTest/build/
/javaCourse/Practice1/JavaApplication2_8/nbproject/private/
/javaCourse/Practice1/JavaApplication2_8/build/
/javaCourse/Practice1/JavaApplication2_9/nbproject/private/
/javaCourse/Practice1/JavaApplication5/nbproject/private/
/javaCourse/Practice1/JavaApplication5/build/
/javaCourse/Practice1/JavaApplication2_9/build/
/javaCourse/Practice1/JavaApplication3_1/nbproject/private/
/javaCourse/Practice1/JavaApplication3_1/build/
/javaCourse/Practice2/Assignment5a_1/nbproject/private/
/javaCourse/Practice2/Assignment5a_1/build/
/javaCourse/Practice2/Assignment5a_2/nbproject/private/
/javaCourse/Practice2/Assignment5a_2/build/
/javaCourse/Practice2/Assignment5A/nbproject/private/
/javaCourse/Practice2/Assignment5A/build/
/javaCourse/Practice2/Assignment5A/dist/
/javaCourse/Practice1/Classwork2/nbproject/private/
/javaCourse/Practice1/Classwork2/build/
/javaCourse/Practice1/JavaApplication3_2/nbproject/private/
/javaCourse/Practice1/JavaApplication3_2/build/
/javaCourse/Practice1/JavaApplication_HD/nbproject/private/
/javaCourse/Practice1/JavaApplication_HD/build/
/javaCourse/Practice1/JavaApplication_HD/dist/
/javaCourse/Practice1/JavaApplication3_2/dist/
/javaCourse/Practice1/JavaApplication3_3/nbproject/private/
/javaCourse/Practice1/JavaApplication3_3/build/
/javaCourse/Practice1/JavaApplication3_3/dist/
/javaCourse/Practice1/JavaApplication3_4/nbproject/private/
/javaCourse/Practice1/JavaApplication3_4/build/
/javaCourse/Practice1/JavaApplication3_5/nbproject/private/
/javaCourse/Practice1/JavaApplication3_4/dist/
/javaCourse/Practice1/JavaApplication3_5/build/
/javaCourse/Practice1/JavaApplication3_6/nbproject/private/
/javaCourse/Practice1/JavaApplication3_6/build/
/javaCourse/Practice1/JavaApplication3_7/nbproject/private/
/javaCourse/Practice1/JavaApplication3_7/build/
/javaCourse/Practice1/JavaApplication3_8/nbproject/private/
/javaCourse/Practice1/JavaApplication3_8/build/
/javaCourse/Practice1/JavaApplication3_8/dist/
/javaCourse/Practice3/WolfApp2_1/nbproject/private/
/javaCourse/Practice3/NAApp/nbproject/private/
/javaCourse/Practice3/NAApp/build/
/javaCourse/Practice3/NAApp/dist/
/javaCourse/Practice3/WolfApp3/nbproject/private/
/javaCourse/Practice3/WolfApp2/dist/
/javaCourse/Practice3/WolfApp3/build/
/javaCourse/Practice3/WolfApp3/dist/
/javaCourse/Practice3/WolfApp4_1/nbproject/private/
/javaCourse/Practice3/WolfApp4_1/build/
/javaCourse/Practice3/WolfApp4_1/dist/
/javaCourse/Practice3/WolfApp4_2/nbproject/private/
/javaCourse/Practice3/WolfApp4_2/build/
/javaCourse/Practice3/WolfApp4_2/dist/
/javaCourse/Practice3/WolfApp4_3/nbproject/private/
/javaCourse/Practice3/WolfApp4_3/build/
/javaCourse/Practice3/pcap4j/pcap4j-core/target/
/javaCourse/Practice3/WolfApp4_3/dist/
/javaCourse/Practice3/WolfApp4_4/nbproject/private/
/javaCourse/Practice3/NAApp_1/nbproject/private/
/javaCourse/Practice4/WolfApp4_5/nbproject/private/
/javaCourse/Practice4/NAApp/nbproject/private/
/javaCourse/Practice4/NAApp/build/
/javaCourse/Practice4/NAApp/dist/
/javaCourse/Practice4/pcap4j/pcap4j-core/target/
/javaCourse/Practice4/WolfApp4_5/build/
/javaCourse/Practice5/WolfApp/nbproject/private/
/javaCourse/Practice5/NAApp/nbproject/private/
/javaCourse/Practice5/NAApp/build/
/javaCourse/Practice5/NAApp/dist/
/javaCourse/Practice5/WolfApp/build/
/javaCourse/Practice5/WolfApp/dist/
/javaCourse/Practice4/WolfApp4_5/dist/
/javaCourse/Practice4/WolfApp/nbproject/private/
/javaCourse/Practice4/WolfApp/build/
/javaCourse/Practice4/WolfApp/dist/
/javaCourse/FinalProject/WolfApp/nbproject/private/
/javaCourse/FinalProject/WolfApp/build/
/javaCourse/FinalProject/WolfApp/dist/
